<!doctype html>
<html lang="en">
<head th:replace="fragments/common :: head('Share Book')">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="navbars.css" th:href="@{/css/navbars.css}" rel="stylesheet">

</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand navbar-dark bg-dark py-4" aria-label="Second navbar example"
     th:replace="fragments/common :: header('main')">>
    <div class="container-fluid">
        <a class="navbar-brand" href="main.html" th:href="@{/}">Share Book</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02"
                aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">AI 책추천</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">리뷰</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">모임</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">회원가입</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container pt-4">
    <div class="reviewWrite">

        <div class="reviewWrite" style="margin-bottom: 60px;">
            <h2>책에 대한 소감이나 후기를 자유롭게 작성해주세요. :)</h2>
        </div>

        <form action="#" th:action="@{/review/write}" th:object="${review}" method="post">
            <input type="hidden" th:field="${review.date}" th:value="${today}">
            <div class="form-group row">
                <label for="title" class="col-sm-2 col-form-label mb-2" style="display: flex; align-items: center; justify-content: center;">책 제목</label>
                <div class="col-sm-10">
                    <input type="text"  class="form-control"  th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" id="title"  th:field="${review.title}" placeholder="책 제목을 입력하세요">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="${review.title}">
                        책 제목 에러메세지
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="writer" class="col-sm-2 col-form-label mb-2" style="display: flex; align-items: center; justify-content: center;">저자</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('writer')} ? 'is-invalid'" id="writer" th:field="${review.writer}" placeholder="저자를 입력하세요">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('writer')}" th:errors="${review.writer}">
                        저자 에러메세지
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="rating" class="col-sm-2 col-form-label mb-2" style="display: flex; align-items: center; justify-content: center;">평점</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" onKeyup="this.value=this.value.replace(/[^-0-5]/g,'');"
                           th:classappend="${#fields.hasErrors('rating')} ? 'is-invalid'" id="rating" th:field="${review.rating}" placeholder="평점을 입력하세요. 5점 만점입니다.">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('rating')}" th:errors="${review.rating}">
                        평점 에러메세지
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="comment" class="col-sm-2 col-form-label mb-2" style="display: flex; align-items: center; justify-content: center;">한줄평</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('comment')} ? 'is-invalid'" id="comment" th:field="${review.comment}" placeholder="한줄평을 입력하세요">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('comment')}" th:errors="${review.comment}">
                        한줄평 에러메세지
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="content" class="col-sm-2 col-form-label" style="display: flex; align-items: center; justify-content: center;">내용</label>
                <div class="col-sm-10">
                    <textarea class="form-control"
                              th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'" id="content" rows="14" th:field="${review.content}" placeholder="내용을 입력하세요"></textarea>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="${review.content}">
                        내용 에러메세지
                    </div>
                </div>
            </div>
            <div class="btn-group mr-2 mt-2" role="group" aria-label="Basic example" style="float: right">
                <a type="button" class="btn btn-outline-dark" th:href=" @{/review/list}">취소</a>
                <button type="submit" class="btn btn-outline-dark">등록</button>
            </div>
        </form>


    </div>
</div>

<div class="container" th:replace="fragments/common :: footer" \>
    <footer class="py-3 pt-4 my-4">
        <ul class="nav justify-content-center border-bottom pb-2 mb-2">
            <li class="nav-item"><a href="#" class="nav-link px-3 text-body-secondary">Share Book 제작 의도</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-3 text-body-secondary">개발 환경</a></li>
            <li class="nav-item"><a href="https://hrimg.tistory.com/"
                                    class="nav-link px-3 text-body-secondary">블로그</a></li>
            <li class="nav-item"><a href="https://github.com/HaerimShim/shareBook"
                                    class="nav-link px-3 text-body-secondary">GitHub</a></li>
        </ul>
        <p class="text-center text-body-secondary">Share Book created by hrming </p>
    </footer>
</div>
</div>

<script src="/js/common.js"></script>
<script>
    window.onload = function() {
        let date = new Date();
        let year = date.getFullYear();
        let month = ("0" + (1 + date.getMonth())).slice(-2);
        let day = ("0" + date.getDate()).slice(-2);

        let formattedDate = year + "-" + month + "-" + day;
        document.getElementById('date').value = formattedDate;
    };

</script>


</body>
</html>