<!doctype html>
<html lang="en">
<head th:replace="fragments/common :: head('Share Book')">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="navbars.css" th:href="@{/css/navbars.css}" rel="stylesheet">
</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand navbar-dark bg-dark py-4" aria-label="Second navbar example"
     th:replace="fragments/common :: header('main')">>
    <div class="container-fluid">
        <a class="navbar-brand" href="main.html" th:href="@{/}">Share Book</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02"
                aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">AI 책추천</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">리뷰</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">모임</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">회원가입</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container pt-4">
    <div class="reviewList">
        <h2>책을 읽고 난 뒤, 다양한 의견을 공유하는 공간입니다. :)</h2>

        <div class="mt-4">
            <div class="input-group" style="width: 800px; float: left; ">
                <input type="text" class="form-control" placeholder="검색어를 입력하세요.">
                <button class="btn btn-outline-dark" type="button" id="button-addon2">검색</button>
            </div>

            <div class="mb-4" style="float: right;">
                <a class="btn btn-outline-dark" style="float: right;" href="#" th:href=" @{/review/write}">리뷰 작성</a>
            </div>
        </div>

        <table class="table table-hover" style="min-height: 460px;">
            <thead>
            <tr>
                <th> No.</th>
                <th> 책정보</th>
                <th> 평점</th>
                <th> 한줄평</th>
                <th> 추천</th>
                <th> 작성일</th>
                <th> 작성자</th>
            </tr>
            </thead>

            <tbody>
            <tr id="table" th:each="review : ${reviews}">
                <td th:text="${review.id}">1</td>
                <td th:text="${review.title + '/' + review.writer}">비행운 / 김애란</td>
                <td th:text="${review.rating + ' / 5'}">4.0 / 5.0</td>
                <td> <a th:text="${review.comment}">연쇄적으로 펼쳐지는 비극의 탐색 </a></td>
                <td th:text="${review.recommend} == null ? '0' : ${review.recommend}">123</td>
                <td th:text="${#dates.format(review.date, 'yyyy-MM-dd')}">2024-03-02</td>
                <td th:text="${review.user}">hrming</td>
            </tr>
            </tbody>
        </table>

        <div>
            <div style="text-align: center;">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link"> < </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#"> > </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container" th:replace="fragments/common :: footer" \>
    <footer class="py-3 pt-4 my-4">
        <ul class="nav justify-content-center border-bottom pb-2 mb-2">
            <li class="nav-item"><a href="#" class="nav-link px-3 text-body-secondary">Share Book 제작 의도</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-3 text-body-secondary">개발 환경</a></li>
            <li class="nav-item"><a href="https://hrimg.tistory.com/"
                                    class="nav-link px-3 text-body-secondary">블로그</a></li>
            <li class="nav-item"><a href="https://github.com/HaerimShim/shareBook"
                                    class="nav-link px-3 text-body-secondary">GitHub</a></li>
        </ul>
        <p class="text-center text-body-secondary">Share Book created by hrming </p>
    </footer>
</div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll('table tbody tr').forEach(function(row) {
            row.addEventListener('click', function() {
                var id = row.querySelector('td:first-child').innerText;
                window.location.href = "/review/read?id=" + id;
            });
        });
    });
</script>

</body>
</html>