<!doctype html>
<html lang="en">
<head th:replace="fragments/common :: head('Share Book')">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="navbars.css" th:href="@{/css/navbars.css}" rel="stylesheet">

</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand navbar-dark bg-dark py-4" aria-label="Second navbar example"
     th:replace="fragments/common :: header('main')">>
    <div class="container-fluid">
        <a class="navbar-brand" href="main.html" th:href="@{/}">Share Book</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02"
                aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">AI 책추천</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">리뷰</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">모임</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">회원가입</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container pt-4">
    <div class="reviewWrite">

        <div class="reviewWrite" style="margin-bottom: 60px;">
            <h2>Share Book 회원들의 소중한 책 리뷰입니다. :)</h2>
        </div>

        <form id="reviewRead" action="#" th:action="@{/review/write}" th:object="${review}" method="post">
            <input type="hidden" th:field="${review.id}">
            <input type="hidden" th:field="${review.date}" th:value="${today}">
            <input type="hidden" name="username" th:value="${username}">
            <div class="form-group row">
                <label for="title" class="col-sm-2 col-form-label mb-2" style="display: flex; align-items: center; justify-content: center;">책 제목</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" th:field="${review.title}" th:value="${review.title}" th:readonly="true">
                </div>
            </div>
            <div class="form-group row">
                <label for="writer" class="col-sm-2 col-form-label mb-2" style="display: flex; align-items: center; justify-content: center;">저자</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="writer" th:field="${review.writer}" th:value="${review.writer}" th:readonly="true">
                </div>
            </div>
            <div class="form-group row">
                <label for="user" class="col-sm-2 col-form-label mb-2" style="display: flex; align-items: center; justify-content: center;">작성자</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="user" th:field="${review.user.nickname}" th:value="${review.user.nickname}" th:readonly="true">
                </div>
            </div>
            <div class="form-group row">
                <label for="rating" class="col-sm-2 col-form-label mb-2" style="display: flex; align-items: center; justify-content: center;">평점</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="rating" th:field="${review.rating}" th:value="${review.rating}"
                           th:readonly="${review.user.username != username}" >
                </div>
            </div>
            <div class="form-group row">
                <label for="comment" class="col-sm-2 col-form-label mb-2" style="display: flex; align-items: center; justify-content: center;">한줄평</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="comment" th:field="${review.comment}" th:value="${review.comment}"
                           th:readonly="${review.user.username != username}" >
                </div>
            </div>
            <div class="form-group row">
                <label for="content" class="col-sm-2 col-form-label" style="display: flex; align-items: center; justify-content: center;">내용</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="content" rows="14" th:field="${review.content}"
                              th:readonly="${review.user.username != username}" >>
                        [[${review.content}]] </textarea>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <button type="button" class="btn btn-primary mr-2" id="btnRecommend" style="margin-right: 4px">추천👍</button>
                <button type="button" class="btn btn-danger"       id="btnReport" >신고⚠</button>
            </div>
            <div class="btn-group mr-2 mt-2" role="group" aria-label="Basic example" th:if="${review.user.username == username}" style="float: right;">
                <a type="button" class="btn btn-outline-dark" id="btnCancel" th:href=" @{/review/list}" style="margin-right: 4px">취소</a>
                <a type="button" class="btn btn-outline-dark" id="btnRevise" style="margin-right: 4px"> 수정 </a>
                <a type="button" class="btn btn-outline-dark" id="btnDelete" > 삭제 </a>
            </div>
        </form>
    </div>
</div>

<div class="modal" id="modalRevise" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>리뷰를 수정하시겠습니까?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnReviseYes" class="btn btn-outline-dark" data-bs-dismiss="modal">네</button>
                <button type="button" id="btnReviseNo"  class="btn btn-outline-dark">아니오</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalDelete" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>리뷰를 삭제하시겠습니까?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnDeleteYes" class="btn btn-outline-dark" data-bs-dismiss="modal">네</button>
                <button type="button" id="btnDeleteNo"  class="btn btn-outline-dark">아니오</button>
            </div>
        </div>
    </div>
</div>

<div class="container" th:replace="fragments/common :: footer" \>
    <footer class="py-3 pt-4 my-4">
        <ul class="nav justify-content-center border-bottom pb-2 mb-2">
            <li class="nav-item"><a href="#" class="nav-link px-3 text-body-secondary">Share Book 제작 의도</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-3 text-body-secondary">개발 환경</a></li>
            <li class="nav-item"><a href="https://hrimg.tistory.com/"
                                    class="nav-link px-3 text-body-secondary">블로그</a></li>
            <li class="nav-item"><a href="https://github.com/HaerimShim/shareBook"
                                    class="nav-link px-3 text-body-secondary">GitHub</a></li>
        </ul>
        <p class="text-center text-body-secondary">Share Book created by hrming </p>
    </footer>
</div>
</div>

<script src="/js/common.js"></script>
<script>
    // 수정 전 확인
    var modalRevise = document.getElementById("modalRevise");
    var btnReviseYes = document.getElementById("btnReviseYes");
    var btnReviseNo = document.getElementById("btnReviseNo");

    document.getElementById("btnRevise").addEventListener("click", function() {
        modalRevise.style.display = "block";
    });

    btnReviseYes.addEventListener("click", function() {
        document.getElementById('reviewRead').submit();
        modalRevise.style.display = "none";
    });

    btnReviseNo.addEventListener("click", function() {
        modalRevise.style.display = "none";
        return;
    });

    window.addEventListener("click", function(event) {
        if (event.target == modal) {
            modalRevise.style.display = "none";
        }
    });

    // 삭제 전 확인
    var modalDelete = document.getElementById("modalDelete");
    var btnDeleteYes = document.getElementById("btnDeleteYes");
    var btnDeleteNo = document.getElementById("btnDeleteNo");

    document.getElementById("btnDelete").addEventListener("click", function() {
        modalDelete.style.display = "block";
    });

    btnDeleteYes.addEventListener("click", function() {
        window.location.href = "/review/delete?id=" + [[${review.id}]];
        modalDelete.style.display = "none";
    });

    btnDeleteNo.addEventListener("click", function() {
        modalDelete.style.display = "none";
        return;
    });

    window.addEventListener("click", function(event) {
        if (event.target == modal) {
            modalDelete.style.display = "none";
        }
    });

    // 추천 & 신고
    // 1. 본인이 작성한 리뷰는 추천 & 신고할 수 없음. ( Alert처리 ) -- ok
    // 2. 추천 버튼을 다시 누르면 취소할 수 있음. (중복 추천 불가)
    // 3. 신고 버튼을 누를 경우, 신고 사유도 입력해야 함. (중복 가능)

    var btnRecommend = document.getElementById("btnRecommend");
    btnRecommend.addEventListener("click", function () {
        if([[${review.user.username == username}]]) {
            alert('본인이 작성한 리뷰는 추천할 수 없습니다.')
        }
        // window.location.href = "/review/recommend?id=" + [[${review.id}]];
    });

    var btnRecommend = document.getElementById("btnReport");
    btnRecommend.addEventListener("click", function () {
        if([[${review.user.username == username}]]) {
            alert('본인이 작성한 리뷰는 신고할 수 없습니다.')
        }
    });
</script>

</body>
</html>